<script language="JavaScript">

function redirect()
{
var str=parent.location.href;
if(str.indexOf('/AUsp/')!=-1)
{
parent.location.replace('/AUsp/apex/SurgeonPortalFirstPage?surgeonId={!User.ContactId}');
}
else
{
parent.location.replace('/apex/SurgeonPortalFirstPage?surgeonId={!User.ContactId}');
}
}
redirect();

</script >