.THIS {
}

.THIS .slds-post__footer-actions-list{
  display:none;
}
.THIS .forceChatterFeedCommentInput{
  display: none;
}

.THIS .slds-feed__item-comments{
  display: none;
}

.THIS .slds-dropdown-trigger .slds-dropdown {
    max-height: calc(((0.8125rem * 1.5) + 1rem) * 15);
    overflow: auto;
}