/*
	Created by: Prosenjit Saha
	Last Update: 5/21/2019
	#009FDF
	Notes:
		- this file is stored as a static resource in Salesforce and referenced in Visualforce pages with the <apex:stylesheet> tag
*/
        
span { border: 0; font: 10px Arial, Helvetica, sans-serif; overflow: hidden; resize: none; } 
table { border-collapse: collapse; table-layout:fixed; width: 750px; } 
table td, table th { font-size:10px; border: 1px solid #5f6062; padding: 2px; vertical-align: top; } 

.hdr {background-color: #009FDF;; text-align: center; color:white; text-align:center; font-weight: bold;}
.gry { border-bottom:0; background: #eee; font-size:9px; font-weight: bold; padding-left: 10px; padding-top: 1px; padding-bottom: 1px; text-align:left; } 
.wht {border-top:0; padding-left: 10px; padding-top: 1px; padding-bottom: 1px; text-align:left; }

body {
	font-family: Arial, Helvetica, sans-serif;
}
@page {
	size: landscape; /*landscape orientation*/
	/*page numbers in the bottom center of each page in the pdf document*/
	#pageNumber { content: counter(page) }
	#tatalpageNumber {content: counter(pages)}
	@bottom-center {
		content: "Page " counter(page) " of " counter(pages);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80%;
	}
	/*placeholders for other content areas*/
	@bottom-right {
		content: "";
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80%;
	}
	@bottom-left {
		content: "";
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80%;
	}
	@top-right {
		content: "";
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80%;
	}
	@top-center {
		content: "";
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80%;
	}
	@top-left {
		content: "";
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80%;
	}

}